.bold{font-weight:bold}
.italic,.var,.unknown{font-style:italic}
.underline.overline.through{text-decoration:underline overline line-through}
.underline.overline{text-decoration:underline overline}
.underline.through{text-decoration:underline line-through}
.through.overline{text-decoration:line-through overline}
.underline{text-decoration:underline}
.overline{text-decoration:overline}
.through{text-decoration:line-through}
.mkdnhead{text-decoration:none}
.scroll{overflow:auto;max-width:80%}
.scbox{white-space: nowrap}
.hidden{display:none}

.opac0:not(:hover), .opac:not(:hover) .hid, .phantom{
	opacity:0
}

.opac:not(:hover){
	opacity:0.5
}


.logo,#splash,.hue{
	animation: hue 12s linear infinite;

}
#inputTools{
	background:rgba(50, 205, 50, 0.5);
}


@media screen and (max-width:800px){
	#hotkey, #API, .subtab th:nth-child(3)~th, .subtab td:nth-child(3)~td{display:none;}
	
	/* #input0Tip{margin-top: 2rem;}
	*/
	.toolTip{
		position: fixed;
		left:2px;
		top:2px;
	}
	
	.editorText {
		width: 70%;
		height: 180px;
	}

	input[type="number"]{
		max-width: 2.6rem;
	}
}


@media screen and (min-width:800px){
	.editorText {
		width:50%;
		height:200px;
	}

	input[type="number"]{
		max-width: 3rem;
	}
}

@media print{
  
  
  section {page-break-before: always;}
  h1 {page-break-after: always;}
  p {page-break-inside: avoid;}
  
  #panel, #input0Preview ~ *,#iTextMain ~ *{
  	display:none
  }
  #iTextMain{
  	padding:1in
  }
  #iContent{
  	border:none;
  }
}


.inputTip,.subtools, #outputOpt{
	font-size:1.1rem
}
.subtools summary{
	font-size:1.2rem
}

.large{
	font-size:large
}
.larger{
	font-size:larger
}
.xlarge{
	font-size:x-large
}
.xxlarge{
	font-size:xx-large
}
.xxxlarge{
	font-size:-webkit-xxx-large
}
.notes,.prov,.unknown{
	font-size:small
}
.smaller{
	font-size:smaller
}
.xsmall{
	font-size:x-small
}
.xxsmall{
	font-size:xx-small
}

sup,sub,.small{
	font-size:.5rem
}
.chosen{
	background-image: -webkit-linear-gradient(top, white, silver 20%, silver 80%, white);
}



blockquote{
    padding:0 10px;
    border-left: solid 6px #ff5400;
    margin-left: 0px;
    background-color: rgba(242,97,9,.1);
    border-radius: 10px;
}
code, pre{
    background: rgba(50, 205, 50, 0.1);
    border-radius: 5px;
    padding:5px
}



#oHTML tbody tr:hover{
	text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
#wiki details[open] > summary, #wiki>span{
    color: limegreen;
}

.hmulti option{display:inline-block;width:2rem}
.hmulti {
    overflow: hidden;
}
#zMather select{
	border-style:none none solid none;
	border-width:1px;
}

body.day, .day textarea{
	color:black;
}
.gainsboro, body.night, .night textarea{
	color:gainsboro;
}
body.night{
	background-color: black;
}
body.day{
	background-color:white;
}

.prov{
	color:dimgray
}
.red,.Clear:hover, .Del:hover{
	color:red;
}

.btnSim{
	border: 0;
    background: none;

}

.black{
	color:black
}
.inputTip,.notes{
	color:gray;
	border: solid 1px;
    padding: 4px;
}

#panel{
	z-index: 20001;
}


.fdetail:hover summary,.task,.taskname,.Mele:hover{
	color:white;
}
.taskname{
	font-size:10px;
	border-radius:15px;
	padding: 1px 0 2px 12px;
	margin:0 2px;
}
.tasknameOff{
	border-radius: 0 15px 15px 0;
	border: solid darkgray 1px;
    margin-left: 2px;

}

.task{
	user-select:none;
	display:inline-block
}
summary{
	user-select:none;
	padding: 5px;
}

#input0Preview{
	min-height:185px;
}
#previewTool{
	padding: 10px 2px;
}
.collapse{border-collapse: collapse}



body:not(.night) .bds:not(.Clear){
	border: solid black 1px;
}

body:not(.night) .bdr{
	border-right: solid black 1px;
}

body:not(.night) .bdl{
	border-left: solid black 1px;
}

body:not(.night) .bdt{
	border-top: solid black 1px;
}

body:not(.night) .bdb{
	border-bottom: solid black 1px;
}

.night .bds:not(.Clear){
	border: solid gainsboro 1px;
}

.night .bdr{
	border-right: solid gainsboro 1px;
}

.night .bdl{
	border-left: solid gainsboro 1px;
}

.night .bdt{
	border-top: solid gainsboro 1px;
}

.night .bdb{
	border-bottom: solid gainsboro 1px;
}


.inblk:not(.notm),.vam, #bar, #bar span, textarea,.abscenter > *{
	vertical-align: middle;
}
.vat{
	vertical-align: top;
}
.vab{
	vertical-align: bottom;
}
li,#wiki{
	padding:2px
}
.subtools summary, .edit > thead tr{
	padding-bottom:6px
}



#zMather > details{
	padding:10px 0
}
.inblk:not(.large):not(.larger):not(.xlarge):not(.xxlarge):not(.xxxlarge):not(.rootleft){
	margin:0 2px;
}

.relation{
	margin:0 5px;
}
.ground > details,.ground summary,#searchTool{
	margin-bottom:5px
}

.task,#Topic a{
	margin:10px;
	padding:2px 10px;
	border-radius:5px;

}

#swap{
	text-shadow: 1px 1px 1px #666;
	color: white;
}

.bdt[data-mt]:before{
    content: attr(data-mt);
    margin-top: -40px;
}
.bdb[data-mb]:before{
    content: attr(data-mb);
    margin-top: 40px;
}

.bdl[data-ml]:after{
    content: attr(data-ml);
    margin-left: -50px;
}
.bdr[data-mr]:after{
    content: attr(data-mr);
    margin-left: 20px;
}

.notes:before{
    content: "NOTES: ";
    margin-left: 2px;
}

.unknown:before{
    content: "UNKNOWN: ";
    margin-left: 2px;
}
.prov:before{
    content: "【";
    margin-left: 2px;
}
.prov:after{
    content: "】";
    margin-right: 2px;
}

.bd0{
	border:0
}




input[type=text],#wiki>span,.brad{
	border-radius: 5px;
}


.dashed{
	border-style:dashed;
}
.solid{
	border-style:solid;
}
.dotted{
	border-style:dotted;
}
.double{
	border-style:double;
}
.groove{
	border-style:groove;
}
.inset{
	border-style:inset;
}
.outset{
	border-style:outset;
}
.ridge{
	border-style:ridge;
}

.ground > div:not(.tasks){
	border-radius:10px;
}



.bdtdash{
	border-top:dashed black 1px;
}
.bdbdash{
	border-bottom:dashed black 1px;
}
.bdldash{
	border-left:dashed black 1px;
}
.bdrdash{
	border-right:dashed black 1px;
}

.bdtdot{
	border-top:dotted black 1px;
}
.bdbddot{
	border-bottom:dotted black 1px;
}
.bdldot{
	border-left:dotted black 1px;
}
.bdrdot{
	border-right:dotted black 1px;
}


.subtools details[open]{
	border: solid 1px;
}

.opa0{
	opacity:0;
	cursor:default
}
#outputOpt input,#wiki>span,.scbox{
	margin:2px
}
#Topic{
	margin:4px
}
.inblk:not(.pd2):not(.pd10), .var{
	padding:0 1px;
}


.pd2,.scbox,.mfx, #tileToolCap > details{
	padding:2px
}
.pd10{
	padding:10px
}

.pd20p{
	padding:0 20%;
}

.mg20p{
	margin:0 20%;
}
.mg10p{
	margin:0 10%;
}
.mg10{
	margin:10px
}
.mg20, .subtabheads{
	margin:20px
}
.mgr10{
	margin-right:10px
}
.mgr20{
	margin-right:20px
}
.mgl10{
	margin-left:10px
}
.mgl20{
	margin-left:20px
}
.subtools details{
	padding:5px;
	display: inline-block;
    margin-right: 10px;
}


#search{

    width:30%;
    padding-left:10px;
    border-style: none none solid none;
    border-width: 1px;
    border-color:gray;
}
#search:hover{
    border-color:transparent;
	background: rgba(50, 205, 50, 0.2);
}

.fdetail{
    margin-bottom: 100px;
}

#numStart{
	max-width:45px;
}
input[type="file"]{
	max-width: 100px;
}



#input0Tip,#input1Tip{
	max-width:74%;
	max-height:50%;
}


#outputOpt{
	background: rgba(0,0,0,0.1);
	border-radius:5px;
}
.katexv{
	width:98%;
	min-height:100px;
}




.alignl, #canvasMenu ~ div{
	text-align:left
}
.alignr{
	text-align:right
}
.alignc{
	text-align: center
}

.floatl,.inputTip,#iTextMain > *:not(.clear),#Cond > *:not(.clear){
	float:left
}
.floatr{
	float:right
}
.clear{
	clear:both
}

.fixr,.fixl{
	position: fixed;
}
.fixr{
	right:0;
}
.fixl{
	left:0;
}
.fixt{
	top:0;
}
.fixb{
	bottom:0;
}

#oHTML{
	position: relative;
	overflow:auto;
}
#oHTML > div.abs{
	position:absolute;
}



#input1Tip{
	counter-reset:cnt1 0
}
#input1Tip .eg:before{
	content: "#" counter(cnt1) " ";
	counter-increment: cnt1;
}
#input0Tip{
	counter-reset:cnt0 0;
}
#input0Tip .eg:not(.eg2):before{
	content: "#" counter(cnt0) " ";
	counter-increment: cnt0;
	color: white;
}


#oHTML textarea:not(:hover){
	resize: none;
	overflow:hidden;
}
.windex,.task,th{
	cursor: pointer;
}


.inblk{
	display:inline-block;
}

.opac a{
	color:transparent;
}
.mathFont,.hotk{font-family:STIXGeneral, 'DejaVu Serif', 'DejaVu Sans', Cambria, 'Cambria Math', Times, 'Lucida Sans Unicode', OpenSymbol, 'Standard Symbols L', serif}

summary ~ details{
	padding-left: 15px;
}

summary ~ details summary{
	padding-left: 15px;
}

.inputTip{
	margin:0 5px;
}
.plot, .resize,.inputTip,#input0Preview,#input0Tool{
	overflow: auto;
    resize: auto;
}
#cvsbg{
	width:98%;
	z-index:-1;
}
.Mele{
	padding: 1px 10px;
    margin: 2px 5px;
	color:gray;
	border-radius:15px;
	cursor:pointer;
	user-select: none;
	display: inline-block;
	font-size:1.1rem;
	vertical-align: middle;
	border: solid 1px gainsboro;
}
.subtabhead{
	padding: 0 20px;
}

.subtabhead,.subhead{
    color: white;
    margin: 5px;
    border-radius: 100%;
	cursor: pointer;
	font-size:1.3rem;
	display: inline-block;
	user-select:none;
}


.subhead :hover{
	background: white;
}
.logo{
    color: white;
	border-radius: 50px;
	background:limegreen;
	padding:0 10px;
	margin-top: 0;
}

.abscenter{
	color: white;
	background:limegreen;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}
.abscenter:after{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#splash div{
	display: inline-block;
	border-radius: 100%;
    border: solid 10px white;
    padding: 20px;
}

.level,[name=tool] + span, .sechResult{
	padding:2px 14px;
	margin:2px 5px;
	color:white;
	border-radius:100%;
	cursor:pointer;
	user-select: none;
	display: inline-block;
	font-size:1.5rem;
}


select,input:not([type="file"]), .rem13{
	font-size:1.3rem;
}
.rem3{
	font-size:3rem;
}
.level:not(.seled):not(:hover){
	opacity:.5
}

.subhead:not(.seled):not(:hover),.subtabhead:not(.seled),.fdetail:hover summary,[name=tool]:not(:checked) +span,#toolnav{
	background:black;
}
.task:not(.seled),.taskname{
	background:gray;
}
#subject .ground1 .level:not(.seled){
	background:royalblue;;
}
#subject{
	background: rgba(0,0,0,0.1);
}

.sechResult, .Mele:hover{
	background: rgba(50, 205, 50, 0.6);
}


.ground:nth-of-type(3n+2) .level:not(.seled),#toolnav label:nth-of-type(3n+1) span:hover{
	background:blue;
}

.ground:nth-of-type(3n+3) .level:not(.seled),#toolnav label:nth-of-type(3n+2) span:hover{
	background:hotpink;
}

.ground:nth-of-type(3n+1) .level:not(.seled),#toolnav label:nth-of-type(3n+3) span:hover{
	background:blueviolet;
}



.ground:nth-of-type(3n+2) > div:not(.tasks):not(:empty){
	border:5px outset blue;
}

.ground:nth-of-type(3n+3) > div:not(.tasks):not(:empty){
	border:5px outset hotpink;
}

.ground:nth-of-type(3n+1) > div:not(.tasks):not(:empty){
	border:5px outset blueviolet;
}

[name=tool]:checked + span,.subhead.seled,.subtabhead.seled, #iContent input:not(.seled):not(.Clear):not(.tool):hover{
	background:limegreen;
}

#subject .ground0 .level:not(.seled){
	background:royalblue;
}

textarea, #iContent input:not(.seled):not(.Clear):not(:hover), .katexvrule{
	background:transparent;
}
#input0Preview, #iTextPreview{
	background: rgba(162,195,97,.1);
}


.audioPlay, .mediaPlay {
    font-weight: bold;
    font-size: medium;
}

.hotk{
    border-radius: 5px;
    padding: 0 6px;
    background: darkgray;
    color:white;
    text-shadow: 1px 1px 1px #666;

}
.toolTip{
	padding:2px;
	opacity:0;
	background:limegreen;
	color:white;
    border-radius:5px 0;
	font-size:1.5rem;
	animation: inf01 3s 1 ease-out;


}
@keyframes inf01 {
	from {opacity:0}
	25%{opacity:.7}
	50%{opacity:1}
	75%{opacity:.7}
	to {opacity:0}
}




#donate div {margin:10px}
#donaQR img{width:150px}
#donaQR img{margin:0 10px}
#donaWeixin img{width:350px}

#Jiaohang{margin-right:50px;}
.pay .jiaohang{
	font-size: 12px;
    background-color: #acbdd3;
    color: black;
}

.rotate90{
    transform: rotateZ(90deg);
}
.rotate270{
    transform: rotateZ(270deg);
}
.rotate180{
    transform: rotateY(180deg);
}

#donaQR .via{margin-bottom: 0}

.via img{
    border-radius: 5px;
}
.alipayImg{
    background: #00a0e9; 
}
.qqpayImg{
    background: white;
}

.pay > div {
    border-radius: 15px;
    padding: 15px;
}
.pay .long {
    width: 50%;
}
.pay input{
	text-align:center
}

.tasks{
    background: rgba(0,0,0,.1);
	border-radius: 5px;
	margin: 5px;
}
img{
	cursor: pointer;
}



@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.Clear{
	color:gray
}

.mi{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  margin:1px;
  border-radius: 100%;
  border:solid transparent 1px;

  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor:pointer;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  vertical-align: middle;
  /* Support for IE. */
  font-feature-settings: 'liga';
  user-select: none;
}
.mi-span:before{
	font-family: 'Material Icons';
    vertical-align: middle;
    display: inline-block;
	content:attr(mi);
}
.mi:not(.Clear):not(.Del):hover, th.bds:hover, summary{

	color:limegreen;
}


#panel div > span.toggle{
	vertical-align: middle;
	font-weight:bold;
}
#panel div > .mi-span.toggle, .mi.toggle{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
	padding-right:2px;
}

ol {padding:0 0 0 20px;margin:0;list-style:none;counter-reset:a 0;}
ol li:before {counter-increment:a;content:counters(a,".")" ";}

#TOCcontents ol {padding:0 0 0 20px;margin:0;list-style:none;counter-reset:b 0;}
#TOCcontents ol li:before {counter-increment:b;content:counters(b,".")". ";padding-right: 5px}


#menu {
    position: absolute;
	top: 0.3rem;
    right: 5px;
    z-index: 90001;
}

.mi.toggle, .tool:hover{
	background:yellow;
	color: black;
}



input[len="2"]{
	width:5rem;
}


.mi-span{
	cursor:pointer;
}

#panel div > .mi-span.toggle + span{
	font-family: cursive;
}
.multinput:checked ~ span{
	font-weight:bold
}
.multi{
	padding:2px;
	border-bottom:dashed 1px;
}
.multi>div{
	padding:1px;
}
.multinput{
	-webkit-appearance:radio
}

@keyframes hue {
    from { filter: hue-rotate(0deg); }
    to   { filter: hue-rotate(360deg); }
}
