.bold{font-weight:bold}
.italic,.var,.unknown{font-style:italic}
.underline.overline.through{text-decoration:underline overline line-through}
.underline.overline{text-decoration:underline overline}
.underline.through{text-decoration:underline line-through}
.through.overline{text-decoration:line-through overline}
.underline{text-decoration:underline}
.overline{text-decoration:overline}
.through{text-decoration:line-through}
.scroll{overflow:auto;max-width:80%}
.scbox{white-space: nowrap}
.hidden{display:none}

.symboli{
	font-weight:bold;
	color:green
}
.Fn td,.inputTip,.subtools, #outputOpt{
	font-size:12px
}
.sbsTbl,#go,.subtools summary{
	font-size:16px
}

.large{
	font-size:large
}
.larger{
	font-size:larger
}
.xlarge{
	font-size:x-large
}
.xxlarge{
	font-size:xx-large
}
.xxxlarge{
	font-size:-webkit-xxx-large
}
.notes,.prov,.unknown{
	font-size:small
}
.smaller{
	font-size:smaller
}
.xsmall{
	font-size:x-small
}
.xxsmall{
	font-size:xx-small
}

sup,sub,.small{
	font-size:.5rem
}
.chosen{
	background-image: -webkit-linear-gradient(top, white, silver 20%, silver 80%, white);
}
.eg,.obj{
	background:silver;
	padding:2px;
	font-size:14px;
	color: black;
}
#wiki details[open] > summary, #wiki>span, .wiki tr:hover, #wiki > details > table > tbody > tr:hover{
	background-image: -webkit-linear-gradient(top, white, lightblue 20%, lightblue 80%, white);
}
#zKeyBoard svg{
	fill:white;
	background-image: -webkit-linear-gradient(top, white, lightblue 20%, lightblue 80%, white);
	width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}


.gainsboro{
	color:gainsboro
}
.prov{
	color:dimgray
}
.red,.Clear{
	color:red
}
.black{
	color:black
}
.inputTip,.sbsTbl,.notes{
	color:gray
}
.sudoku td:not(.red){
	color:white
}
.sbsTbl tr:not(.Symboli) td:not(.seled):not(:active):not(:empty),#wiki>span{
	border: outset lightyellow 1px;
}
#bar{
    padding: 8px;
    text-align: center;
    background-image: -webkit-linear-gradient(top,  gainsboro ,white 20%, gainsboro 80%, white);
    color:white;
}


.subtool.seled,.toolname{
	color:white;
	background:gray;
}

.toolname{
	font-size:10px;
	border-radius:15px;
	padding: 1px 0 2px 12px;
	margin:0 2px;
}
.toolnameOff{
	border-radius: 0 15px 15px 0;
	border: solid darkgray 1px;
    margin-left: 2px;

}
/*
.subtool{
	-webkit-user-select:none
}
*/
.collapse{border-collapse: collapse}


.bds{
	border: solid black 1px;
}

.sudoku td:not(.bdr){
	border-right: outset gainsboro 1px;
}
.bdr{
	border-right: outset black 1px;
}

.sudoku td:not(.bdl){
	border-left: outset gainsboro 1px;
}
.bdl, .sudoku td:first-child{
	border-left: outset black 1px;
}

.sudoku td:not(.bdt){
	border-top: outset gainsboro 1px;
}
.bdt{
	border-top: outset black 1px;
}

.eq,.arrowr2,.arrowl2,.arrowlr2{
	border-bottom: solid black 1px;
}
.eq,.arrowr,.arrowl,.arrowlr, .arrowr2,.arrowl2,.arrowlr2{
	border-top: solid black 1px;
	padding:1px
}
.arrowl2,.arrowr2,.arrowlr2{
	height:0
}


.arrowl2:before{
	content: "〈";
    position: relative;
	left:  calc(-50% - 4px);
    top: -13px;
    font-size: 12px;
}
.arrowlr2:before{
	content: "〈";
    position: relative;
	left:  calc(-50% + 2px);
    top: -13px;
    font-size: 12px;
}

.arrowr2:after{
	content: "〉";
    position: relative;
	left: calc(50% + 4px);
    top: -14px;
    font-size: 12px;
}
.arrowlr2:after{
	content: "〉";
    position: relative;
	left: calc(50% - 2px);
    top: -14px;
    font-size: 12px;
}




.arrowr:after,.arrowlr:after{
	content: "→";
    position: relative;
    left: 50%;
    top: -12px;
}
.arrowl:before,.arrowlr:before{
	content: "←";
    position: relative;
    left: -50%;
    top: -12px;
}




.inblk:not(.notm),.vam{
	vertical-align: middle;
}
.vat,.mtrx+sup,.det+sup{
	vertical-align: top;
}
.vab,.mtrx+sub,.det+sub{
	vertical-align: bottom;
}
li,#wiki{
	padding:2px
}
.subtools summary{
	padding-bottom:6px
}
.inblk:not(.large):not(.larger):not(.xlarge):not(.xxlarge):not(.xxxlarge):not(.rootleft){
	margin:0 2px;
}

.relation{
	margin:0 5px;
}
.subtool{
	margin:10px;
	padding:2px 10px;
	border-radius:5px;
	background:white;
}

.rootleft{
    vertical-align: -webkit-baseline-middle;/*bottom;*/
}
.rootleftline{
    position: relative;
}
.rootleftline:before{
	content: attr(data-index);
    position: absolute;
	font-size:.5rem;
	top: -10px;
}


.fracline{
	border-bottom:0;
	border-top:solid 1px;
	padding-top: 1px;
}
.sudoku td:not(.bdb), .subtools{
	border-bottom: outset gainsboro 1px;
}
.bdb{
	border-bottom: outset black 1px;
}


.sudoku .red{
  text-shadow: gray 1px 1px 2px;
  -webkit-text-stroke: 1px red;
}
  /*
  text-shadow: black 1px 1px 2px,pink -1px 1px 2px,gray 1px -1px 2px,white -1px -1px 2px;
   -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px red;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));  
  
    background:-webkit-linear-gradient(left,#f00,#ff0 25%,#0f0 40%,#0ff 55%,#00f 70%,#f00);
  -webkit-background-clip:text;
  */
.sudoku td:not(.red){
    text-shadow: black 1px 1px 2px;
}


.sudoku td:before,.sudoku td:after{
    color: white;
    text-shadow: black 1px 1px 1px;
 	position: absolute;
}
.sudokuks:before{
    content: attr(data-ks);
    font-size: 10px;
    margin: -4px -12px;
}

.bdt[data-mt]:before{
    content: attr(data-mt);
    margin-top: -40px;
}
.bdb[data-mb]:before{
    content: attr(data-mb);
    margin-top: 40px;
}

.bdl[data-ml]:after{
    content: attr(data-ml);
    margin-left: -50px;
}
.bdr[data-mr]:after{
    content: attr(data-mr);
    margin-left: 20px;
}

.notes:before{
    content: "注意：";
    margin-left: 2px;
}

.unknown:before{
    content: "未知：";
    margin-left: 2px;
}
.prov:before{
    content: "【";
    margin-left: 2px;
}
.prov:after{
    content: "】";
    margin-right: 2px;
}

.digidot:after{
    content: ".";
    position: relative;
}



.Symboli > td:not(.seled){
	border-color:transparent
}
.seled,.sbsTbl td:not(:empty):active{
	border-color:green
}
.wiki,.wiki > tbody > tr > td{
	border-color:gainsboro
}


.sudoku{
	font-size:30px;
	margin:25px;
	border:6px outset;
	border-spacing:0;
	border-collapse: separate;
	text-align:center;
	float:left;
	border: 6px outset;
  	border-radius: 10px;
}
	
	
}

.sudoku td:not([class]){
	opacity:0
}
.sudokuAppend{
	opaicty:.7;
	background: rgba(154, 205, 50,.5);
}


.wiki:not(.bd0),.sbsTbl td:not(:empty){
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}
input[type=text],#wiki>span,.mtrx,.mtrxl,.mtrxr,.brad{
	border-radius: 5px;
}


.dashed{
	border-style:dashed;
}
.solid{
	border-style:solid;
}
.dotted{
	border-style:dotted;
}
.double{
	border-style:double;
}
.groove{
	border-style:groove;
}
.inset{
	border-style:inset;
}
.outset{
	border-style:outset;
}
.ridge{
	border-style:ridge;
}


.bdtdash{
	border-top:dashed black 1px;
}
.bdbdash{
	border-bottom:dashed black 1px;
}
.bdldash{
	border-left:dashed black 1px;
}
.bdrdash{
	border-right:dashed black 1px;
}

.bdtdot{
	border-top:dotted black 1px;
}
.bdbddot{
	border-bottom:dotted black 1px;
}
.bdldot{
	border-left:dotted black 1px;
}
.bdrdot{
	border-right:dotted black 1px;
}

.wiki>.cnt2{
    counter-reset: cnt 1;
}
.wiki>.cnt1{
    counter-reset: cnt 0;
}
.wiki>.cnt0{
    counter-reset: cnt -1;
}
.wiki>.cnt_1{
    counter-reset: cnt -2;
}
.wiki>.cnt2>tr:before{
	content: counter(cnt);
	counter-increment: cnt;
}
.wiki>.cnt1>tr:before{
	content: counter(cnt);
	counter-increment: cnt;
}
.wiki>.cnt0>tr:before{
	content: counter(cnt);
	counter-increment: cnt;
}
.wiki>.cnt_1>tr:before{
	content: counter(cnt);
	counter-increment: cnt;

}
.wiki>tbody>tr:before{
    text-shadow: 1px 1px 1px #666;
    color: gray;
}
.wiki>thead.cnt>tr:before{
	content: "";
}

.subtools details[open]{
	background: gainsboro;
}
.sbsTbl tr:nth-child(odd),.wiki > tbody > tr:nth-child(odd):not(:hover){
	background: rgba(162,195,97,.1);
}
.opa0{
	opacity:0;
	cursor:default
}
#subject2 .tool,#outputOpt input,#wiki>span,.scbox{
	margin:2px
}

.inblk:not(.pd2):not(.pd10), .var{
	padding:0 1px;
}


#wiki summary,#wiki>span,.wiki > tbody > tr> td, .pd2,.scbox,.mfx{
	padding:2px
}
.pd10{
	padding:10px
}
.subtools details{
	padding:5px;
	display: inline-block;
    margin-right: 10px;

}
#subject2{
    margin: 10px 0;
}
#subject2{
    padding: 20px;
    background-color: gainsboro;
}
.sudoku td{
	width: 40px;
	height:40px;
	border-radius: 5px;
}



#numStart{
	max-width:45px;
}



#input0,#input1,#input2{
	min-width:25%;
}
#forms td{
	max-width:600px
}
#input0Tip,#input1Tip{
	max-width:74%;
	overflow-x:hidden;
	max-height:50%;
}
#wiki details{
	max-height:1000px;
	overflow-x:hidden;
}
#input0,#input1,#input2{
	min-height:100px
}
code,pre,#outputOpt{
	background: #eee;
}


.sbsTbl,.wiki,.alignc{
	text-align:center
}

.alignl{
	text-align:left
}
.alignr{
	text-align:right
}

.floatl,.inputTip{
	float:left
}
.floatr{
	float:right
}
.clear{
	clear:both
}

.fixr,.fixl{
	position: fixed;
}
.fixr{
	right:0;
}
.fixl{
	left:0;
}
.fixt{
	top:0;
}
.fixb{
	bottom:0;
}
#oHTML{
	position: relative;
}
#oHTML > div.abs{
	position:absolute;
}
.eg:hover{
	text-decoration: underline;
}

svg {
  -webkit-transition: all 0.2s linear
}

#input1Tip{
	counter-reset:cnt1 0
}
#input1Tip .eg:before{
	content: "例" counter(cnt1) "：";
	counter-increment: cnt1;
}
#input0Tip{
	counter-reset:cnt0 0
}
#input0Tip .eg:not(.eg2):before{
	content: "例" counter(cnt0) "：";
	counter-increment: cnt0;
	color: white;
}


#oHTML textarea:not(:hover){
	resize: none;
	overflow:hidden;
}
.sbsTbl td:not(:empty),.eg,.windex,#logo,.Clear,.subtool{
	cursor: pointer;
}


#sudokuTable{
	zoom:.7
}

.inblk{
	display:inline-block;
}

#logo{
	color:blue;
}
.mathFont{font-family:STIXGeneral, 'DejaVu Serif', 'DejaVu Sans', Cambria, 'Cambria Math', Times, 'Lucida Sans Unicode', OpenSymbol, 'Standard Symbols L', serif}

.mtrx td:not([class]){
	border:0
}
.mtrx,.mtrxl{
    border-left: solid 1px;
    padding-left: 5px;
}
.mtrx,.mtrxr{
    border-right: solid 1px;
    padding-right: 5px;
}
.det,.detl{
    border-left: solid 1px;
    padding-left: 2px;
}
.det,.detr{
    border-right: solid 1px;
    padding-right: 2px;
}

summary ~ details{
	padding-left: 15px;
}

.inputTip{
	padding:2px 5px;
}
